//-
	Main footer
footer.footer.py-5
	.container
		.row
			.col-md-4
				.footer__logo
					h4 BogoPal
					p.mt-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quaerat magni excepturi accusantium harum deserunt!
			.col-md-4
				.footer__links
					h4 Quick Links
					a(href="index.html") Home
					a(href="categories.html") Categories
					a(href="about.html") About
					a(href="terms.html") Terms and Conditions
					a(href="privacy.html") Privacy Policy
			.col-md-4
					h4 Download our App
					.mt-4
						a(href="#")
							i.fab.fa-google-play.fa-2x.mr-3
						a(href="#")
							i.fab.fa-app-store.fa-2x