//-
	Main footer
footer.footer.py-5
	.container
		.row
			.col-md-4.mt-4.mt-md-0
				.footer__logo
					h4 BogoPal
					p.mt-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quaerat magni excepturi accusantium harum deserunt!
			.col-md-4.mt-4.mt-md-0
				.footer__links
					h4 Quick Links
					a(href="index.html") Home
					a(href="categories.html") Categories
					a(href="about.html") About
					a(href="terms.html") Terms and Conditions
					a(href="privacy.html") Privacy Policy
			.col-md-4.mt-4.mt-md-0
					h4 Download our App
					.text-center.my-4.my-md-0.d-flex.flex-column.flex-md-row.justify-content-center.justify-content-md-start.align-items-center.align-items-md-start
						button.btn.btn-dark.app-download.mr-0.mr-md-2.mb-2.mb-md-0(data-toggle="modal" data-target="#modalAppDownload" data-dismiss="modal")
							//- img(src="assets/images/app-store.png")
							i.fab.fa-apple
							span App Store
						button.btn.btn-dark.app-download(data-toggle="modal" data-target="#modalGoogleDownload" data-dismiss="modal")
							img(src="assets/images/google-play.png")
							span Google Play