// Modals
// Login modal
#modalLoginForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content.px-3.py-4
			.modal-body
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='false') &times;
				h2.font-weight-light.text-center.mb-4
					| Login
				#login-form
					.text-center
						h5.mb-1 We are glad to see you again!
						p.text-muted Don’t have an account? <a href="#" data-toggle="modal" data-target="#modalSignUpForm" data-dismiss="modal">Sign Up</a>
							| !
					form(method="POST" action="#")
						.row.mt-5.text-center
							.col-12.mb-3
								input.form-control-lg(type='text' placeholder='Email' name='email' required)
							.col-12.mb-4
								input.form-control-lg(type='password' placeholder='Password' name='password' required)
								.mt-3
									a(href="" id="modal-forgot-password-link" data-toggle="modal" data-target="#modalForgotPassword" data-dismiss="modal") Forgot Password?
								button.btn.btn-primary.px-5.py-2.mt-3(type="submit") Login
							|
							|
							// Social login
							.social-login.mt-4.text-center
								h5.text-muted.font-italic.mb-3
									| Or login with
									|
								.row
									.col-12.mb-3
										button.btn.btn-primary.px-5.py-2.fb-btn(type="button")
											i.fab.fa-facebook-f.mr-3
											| Facebook
									.col-12.mb-3
										button.btn.btn-primary.px-5.py-2.google-btn(type="button")
											i.fab.fa-google.mr-3
											| Google
									.col-12.mb-3
										button.btn.btn-primary.px-5.py-2.twitter-btn(type="button")
											i.fab.fa-twitter.mr-3
											| Twitter
// login-modal-end
|
|
// Sign up modal
#modalSignUpForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content.px-3.py-4
			.modal-body
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='false') &times;
				h2.font-weight-light.text-center.mb-4
					| Sign Up
				#register-form
					.text-center
						h5 Let's create your account!
						p.text-muted Already have an account? <a href="#" data-toggle="modal" data-target="#modalLoginForm" data-dismiss="modal">Login</a>
							| !
					form(method="POST" action="#")
						.row.mt-5.text-center
							.col-12.mb-3
								input.form-control-lg(type='text' placeholder="Full Name" name="fulltName" required)
							.col-12.mb-3
								input.form-control-lg(type='email' placeholder="Email" name="email" required)
							.col-12.mb-3
								input.form-control-lg(type='password' placeholder="Password" name="password" required)
							.col-12.mb-3
								input.form-control-lg(type='password' placeholder="Re-Enter Password" name="confirmPassword" required)
							.col-12.mb-3
								p.text-muted Are you a merchant? Sign up <a href="#" data-toggle="modal" data-target="#modalMerchantSignUpForm" data-dismiss="modal">here</a>
									| !
								.form-check.my-3
									input.form-check-input(type='checkbox' name='registerTerms' id='registerTerms')
									label(for='registerTerms') By continuing you accept our standard <a href="terms.html">terms and conditions</a> and our <a href="privacy.html">privacy policy</a>
								| .
								button.btn.btn-primary.px-5.py-2(type="submit") Sign Up
							|
							|
							// Social login
							.social-login.mt-4.text-center
								h5.text-muted.font-italic.mb-3
									| Or login with
									|
								.row
									.col-12.mb-3
										button.btn.btn-primary.px-5.py-2.fb-btn(type="button")
											i.fab.fa-facebook-f.mr-3
											| Facebook
									.col-12.mb-3
										button.btn.btn-primary.px-5.py-2.google-btn(type="button")
											i.fab.fa-google.mr-3
											| Google
									.col-12.mb-3
										button.btn.btn-primary.px-5.py-2.twitter-btn(type="button")
											i.fab.fa-twitter.mr-3
											| Twitter
// sign-up-modal-end
|
|
// Login modal
#modalMerchantLoginForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content.px-3.py-4
			.modal-body
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='false') &times;
				h2.font-weight-light.text-center.mb-4
					| Login
				#login-form
					.text-center
						h5.mb-1 We are glad to see you again!
						p.text-muted Don’t have an account? <a href="#" data-toggle="modal" data-target="#modalMerchantSignUpForm" data-dismiss="modal">Sign Up</a>
							| !
					form(method="POST" action="#")
						.row.mt-5.text-center
							.col-12.mb-3
								input.form-control-lg(type='text' placeholder='Email' name='email' required)
							.col-12.mb-4
								input.form-control-lg(type='password' placeholder='Password' name='password' required)
								.mt-3
									a(href="" id="modal-forgot-password-link" data-toggle="modal" data-target="#modalForgotPassword" data-dismiss="modal") Forgot Password?
								button.btn.btn-primary.px-5.py-2.mt-3(type="submit") Login
// login-merchant-modal-end
|
|
// Sign up merchant modal
#modalMerchantSignUpForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content.px-3.py-4
			.modal-body
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='false') &times;
				h2.font-weight-light.text-center.mb-4
					| Sign Up as Merchant
				#register-form
					.text-center
						h5 Boost your business with a merchant account!
						p.text-muted Already have an account? <a href="#" data-toggle="modal" data-target="#modalMerchantLoginForm" data-dismiss="modal">Login</a>
							| !
					form(method="POST" action="#")
						.row.mt-5.text-center
							.col-12.mb-3
								input.form-control-lg(type='text' placeholder="Store Name" name="storetName" required)
							.col-12.mb-3
								input.form-control-lg(type='number' placeholder="Store Phone" name="storePhone" required)
							.col-12.mb-3
								input.form-control-lg(type='text' placeholder="Store Address" name="storeAddress" required)
							.col-12.mb-3
								input.form-control-lg(type='email' placeholder="Email" name="email" required)
							.col-12.mb-3
								input.form-control-lg(type='password' placeholder="Password" name="password" required)
							.col-12.mb-3
								input.form-control-lg(type='password' placeholder="Re-Enter Password" name="confirmPassword" required)
							.col-12.mb-3
								select.js-example-basic-single(name="storeCategory")
									option(value="categories") Store Category
									option(value="1") New York
									option(value="2") Los Anglos
									option(value="3") Alaska
							.col-12.mb-3
								select.js-example-basic-single(name="storeState")
									option(value="all_states1") Store State
									option(value="1") New York
									option(value="2") Los Anglos
									option(value="3") Alaska
							.col-12.mb-3
								select.js-example-basic-single(name="storeCity")
									option(value="all_states1") Store City
									option(value="1") New York
									option(value="2") Los Anglos
									option(value="3") Alaska
							.col-12.mb-3
								select.js-example-basic-single(name="storeCountry")
									option(value="store_country") Store Country
									option(value="1") New York
									option(value="2") Los Anglos
									option(value="3") Alaska
							.col-12
								.form-check.my-3
									input.form-check-input(type='checkbox' name='registerTerms' id='registerTerms')
									label(for='registerTerms') By continuing you accept our standard <a href="terms.html">terms and conditions</a> and our <a href="privacy.html">privacy policy</a>
								| .
								button.btn.btn-primary.px-5.py-2(type="submit") Sign Up
							|
							|
// sign-up-merchant-modal-end
|
|
// Forgot password modal
#modalForgotPassword.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content.p-5
			.modal-body
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
				h2.font-weight-light.text-center.mb-4
					| Reset password
				form(method="POST" action="#")
					.row.mt-5.text-center
						.col-12.mb-3
							p Enter Your Email to Reset Your Password
							input.form-control-lg(type='email' placeholder='ُEnter Your Email' name='email' required)
							.my-4
								button.btn.btn-primary.px-5.py-2(type="submit") Reset Password
// forgot-password-modal-end
|
|
// App download modal
#modalAppDownload.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content.p-5
			.modal-body
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
				h2.mb-4.text-center IOS
				.my-5
					.row
						.col-md-6.mt-3.mt-md-0
							button.btn.btn-dark.btn-block.px-3.py-2.app-download(data-toggle="modal" data-target="#modalAppDownload")
								i.fab.fa-apple.app-download__icon
								.app-download__text
									span.app-download__text-title Get it in
									span.app-download__text-subtitle App Store
						.col-md-6.mt-3.mt-md-0
							button.btn.btn-dark.btn-block.px-3.py-2.app-download(data-toggle="modal" data-target="#modalGoogleDownload")
								i.fab.fa-google-play.app-download__icon
								.app-download__text
									span.app-download__text-title Get it in
									span.app-download__text-subtitle Google Play
				.qr-code.mt-4.d-flex.align-items-center.justify-content-center
					img.m-auto(src="assets/images/qr-code.jpg")
// app-download-modal-end
|
|
// Google download modal
#modalGoogleDownload.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content.p-5
			.modal-body
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
				h2.mb-4.text-center Android
				.my-5
					.row
						.col-md-6.mt-3.mt-md-0
							button.btn.btn-dark.btn-block.px-3.py-2.app-download(data-toggle="modal" data-target="#modalAppDownload")
								i.fab.fa-apple.app-download__icon
								.app-download__text
									span.app-download__text-title Get it in
									span.app-download__text-subtitle App Store
						.col-md-6.mt-3.mt-md-0
							button.btn.btn-dark.btn-block.px-3.py-2.app-download(data-toggle="modal" data-target="#modalGoogleDownload")
								i.fab.fa-google-play.app-download__icon
								.app-download__text
									span.app-download__text-title Get it in
									span.app-download__text-subtitle Google Play
				.qr-code.mt-4.d-flex.align-items-center.justify-content-center
					img.m-auto(src="assets/images/qr-code.jpg")
// google-download-modal-end