//-
	- Main navbar
// Navbar
nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.px-3.py-4
	.container
		a.navbar-brand(href='index.html')
			div.navbar-brand__box
				img(src="assets/images/logo.png")
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main-menu' aria-controls='main-menu' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#main-menu.collapse.navbar-collapse
			ul.navbar-nav.mx-auto
				li.nav-item(class=activePage == 'home' ? 'active' : '')
					a.nav-link(href='index.html') Home
						span.sr-only (current)
				li.nav-item(class=activePage == 'categories' ? 'active' : '')
					a.nav-link(href='categories.html') Categories
				li.nav-item(class=activePage == 'about' ? 'active' : '')
					a.nav-link(href='about.html') About
			.ml-4.text-center.my-4.my-md-0
				button.btn.btn-primary(data-toggle="modal" data-target="#modalAppDownload") Download App
			.ml-auto.d-flex.align-items-center.actions
				a.btn.btn-link(data-toggle="modal" data-target="#modalLoginForm") Login
				a.btn.btn-link(data-toggle="modal" data-target="#modalSignUpForm") Sign Up
				// navbar dropdown
			.btn-group
				button.btn.btn-link.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
					| Merchant
				.dropdown-menu
					a.dropdown-item(href='#' data-toggle='modal' data-target='#modalMerchantLoginForm') Login
					a.dropdown-item(href='#' data-toggle='modal' data-target='#modalMerchantSignUpForm') Sign Up

				.search.ml-0.ml-md-3.mt-3.mt-md-2
					i.fas.fa-search.search-btn
// navbar-end