//-
	- Main navbar
// Navbar
nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.px-3.py-4
	.container
		a.navbar-brand(href='index.html')
			div.navbar-brand__box
				img(src="assets/images/logo.png")
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main-menu' aria-controls='main-menu' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#main-menu.collapse.navbar-collapse
			ul.navbar-nav.mx-auto
				li.nav-item(class=activePage == 'home' ? 'active' : '')
					a.nav-link(href='index.html') Home
						span.sr-only (current)
				li.nav-item(class=activePage == 'categories' ? 'active' : '')
					a.nav-link(href='categories.html') Categories
				li.nav-item(class=activePage == 'about' ? 'active' : '')
					a.nav-link(href='about.html') About
			.text-center.my-4.my-md-0.d-flex.flex-column.flex-md-row.justify-content-center.justify-content-md-start.align-items-center.align-items-md-start
				button.btn.btn-dark.app-download.mr-0.mr-md-2.mb-2.mb-md-0(data-toggle="modal" data-target="#modalAppDownload" data-dismiss="modal")
					//- img(src="assets/images/app-store.png")
					i.fab.fa-apple
					span App Store
				button.btn.btn-dark.app-download(data-toggle="modal" data-target="#modalGoogleDownload" data-dismiss="modal")
					img(src="assets/images/google-play.png")
					span Google Play
			.ml-auto.d-flex.align-items-center.actions
				a.btn.btn-link(data-toggle="modal" data-target="#modalLoginForm") Login
				a.btn.btn-link(data-toggle="modal" data-target="#modalSignUpForm") Sign Up

				// navbar dropdown
			.d-flex.flex-column.flex-md-row.justify-content-center.align-items-center
				.btn-group
					button.btn.btn-link.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
						| Merchant
					.dropdown-menu
						a.dropdown-item(href='#' data-toggle='modal' data-target='#modalMerchantLoginForm') Login
						a.dropdown-item(href='#' data-toggle='modal' data-target='#modalMerchantSignUpForm') Sign Up

				.search.mt-3.mt-md-2.ml-0.ml-md-2
					i.fas.fa-search.search-btn
// navbar-end