// Search overlay
.search-overlay
	.search-overlay__content
		h2.mb-5 Search for Bogos...
		.search-overlay__search-input
			form(action="#" method="get")
				.input-group.mt-3
					input.form-control(type='search' placeholder='Type the search keywords here...' name='s' autofocus)
		i.fas.fa-times-circle.search-overlay__close(aria-hidden="true")
