mixin deals(dealsObj)
  section.deals.py-5
    .container
      h2.section-title= dealsObj.title
      .row
        include ./_mixin-single-deal
        +deal({
          img: 'https://api.lorem.space/image/watch',
          title: 'lorem ipsum dolor sit amet',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veritatis.'
        })
        +deal({
          img: 'https://api.lorem.space/image/watch',
          title: 'lorem ipsum dolor sit amet',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veritatis.'
        })
        +deal({
          img: 'https://api.lorem.space/image/watch',
          title: 'lorem ipsum dolor sit amet',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veritatis.'
        })
        +deal({
          img: 'https://api.lorem.space/image/watch',
          title: 'lorem ipsum dolor sit amet',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veritatis.'
        })
        +deal({
          img: 'https://api.lorem.space/image/watch',
          title: 'lorem ipsum dolor sit amet',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veritatis.'
        })
        +deal({
          img: 'https://api.lorem.space/image/watch',
          title: 'lorem ipsum dolor sit amet',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veritatis.'
        })