html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans'sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}

img {
  width: 100%;
}

section {
  .section-title {
    font-size: 1.75rem;

    @include responsive(atSmall) {
      font-size: 1.625rem !important;
    }

    &--smaller {
      font-size: 1.5rem;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  display: flex;
}