// Bootstrap reset
.text-primary {
  color: $primary !important;
}

.btn-primary {
  background: $primary !important;
}

// Select2
.select2 {
  font-size: 1.5rem;
  width: 25% !important;
  font-weight: bold;
  border: none !important;

  &-selection {
    background: $lightBgColor !important;
    width: 100% !important;
    border: none !important;
    display: flex;
    justify-content: start;

    &__rendered {
      border: none !important;
    }
  }

  &-dropdown {
    width: 200px !important;
  }
}


span.select2-search {
  padding: 1rem .5rem !important;

  input.select2-search__field {
    border: 2px solid $primary;

    &:focus {
      border: 2px solid $primary !important;
      outline: none;
    }
  }
}

span.select2-results {
  padding: 0.5rem !important;
}