mixin category(catObj)
	.col-md-3.mb-4
		.card
			a(href='single-category.html')
				img.card-img(src= catObj.img)
			.card-body
				.overlay
					a.text-decoration-none.text-dark(href="single-category.html")
						h5.card-title= catObj.title