mixin deal(dealObj)
	.col-md-4.mt-3.mt-md-0
		.card
			a(href='single-deal.html')
				img.card-img(src= dealObj.img)
			.card-body
				a.text-decoration-none.text-dark(href="single-deal.html")
					h5.card-title= dealObj.title
				.mt-3.d-flex.justify-content-between
					span
						i.fas.fa-map-marker-alt.mr-2
						| Navy Pier Parking Deals
					span
						i.fas.fa-star.mr-2
						| 4.7
				|
				|
				// Select featured or most popular deal for this business
				.mt-4
					small.text-muted.font-italic
						| Popular deal
					h6 Buy 1 Pizza and get 1 for FREE!