mixin subCategory(subCatObj)
	.col-md-3.mb-4
		.card
			a(href='single-sub-category.html')
				img.card-img(src= subCatObj.img)
			.card-body
				.overlay
					a.text-decoration-none.text-dark(href="single-sub-category.html")
						h5.card-title= subCatObj.title