//-
	Main footer
footer.footer
	.container
		.row
			.col-md-4
				.footer__logo
					h4 BogoPal
					p.mt-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quaerat magni excepturi accusantium harum deserunt!
			.col-md-4
				.footer__links
					h4 Quick Links
					a(href="#") Home
					a(href="#") About
					a(href="#") Categories
					a(href="#") Terms and Conditions
					a(href="#") Privacy Policy
			.col-md-4
					h4 Download our App
					a(href="#")
						
					a(href="#") Twitter
					a(href="#") Instagram