// Hero
section.hero
	.container
		.text-center
			h1 Find Your Next Deal
			form#searchForDeals(action="#" method="get")
				.d-flex.justify-content-center
					select.js-example-basic-single(name="type")
						option(value="all_categories") Chicago
						option(value="1") New York
						option(value="2") Los Anglos
						option(value="3") Alaska
				.form-group
					input.form-control(type='search' name='dealsSearchInput', placeholder='Search for Bogos...')

// hero-end
|
|