// Modals
// Login/Register modal
#modalLoginForm.modal.fade.w-100(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content.px-3.py-4
			.modal-header
				.modal-header-tabs
					.modal-header-tabs__tab.active#login-form-title
						h5.modal-title Login
					.modal-header-tabs__tab#register-form-title
						h5.modal-title Register
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
			.modal-body
				#login-form
					.text-center
						h5.mb-1 We are glad to see you again!
						p.text-muted Don’t have an account? <a href="#" id="register-form-link">Sign Up!</a>
					form(method="POST" action="#")
						.row.mt-5.text-center
							.col-12.mb-3
								input.form-control-lg(type='text' placeholder='Email' name='email' required)
							.col-12.mb-4
								input.form-control-lg(type='password' placeholder='Password' name='password' required)
								.my-3
									a(href="" id="modal-forgot-password-link" data-toggle="modal" data-target="#modalForgotPassword" data-dismiss="modal") Forgot Password?
								button.btn.btn-primary.px-5.py-2(type="submit") Login
				#register-form
					.text-center
						h5 Let's create your account!
					form(method="POST" action="#")
						.row.mt-5.text-center
							.col-12.mb-4
								.btn-group.btn-group-toggle(data-toggle='buttons')
									label.btn.btn-outline-primary.px-3.mr-4.active
										input#option1(type='radio' name='accountType' autocomplete='off' checked='')
										|  Merchant
									label.btn.btn-outline-primary.px-3.mr-4
										input#option2(type='radio' name='accountType' autocomplete='off')
										| Customer
							.col-12.mb-3
								input.form-control-lg(type='text' placeholder="First Name" name="firstName" required)
							.col-12.mb-3
								input.form-control-lg(type='text' placeholder="Last Name" name="lastName" required)
							.col-12.mb-3
								input.form-control-lg(type='email' placeholder="Email" name="email" required)
							.col-12.mb-3
								input.form-control-lg(type='email' placeholder="Confirm Email" name="emailConfirm" required)
							.col-12.mb-3
								input.form-control-lg(type='password' placeholder="Password" name="password" required)
							.col-12.mb-3
								input.form-control-lg(type='password' placeholder="Password" name="passwordConfirm" required)
							.col-12
								.form-check.my-3
									input.form-check-input(type='checkbox' name='registerTerms' id='registerTerms')
									label(for='registerTerms') By continuing you accept our standard <a href="#">terms and conditions</a> and our <a href="#">privacy policy</a>
								| .
								button.btn.btn-primary.px-5.py-2(type="submit") Register
// login-register-modal-end
|
|
// Forgot password modal
#modalForgotPassword.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content.p-5
			.modal-header
				h5.modal-title Reset password
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
			.modal-body
				form(method="POST" action="#")
					.row.mt-5.text-center
						.col-12.mb-3
							p Enter Your Email to Reset Your Password
							input.form-control-lg(type='email' placeholder='ُEnter Your Email' name='email' required)
							.my-4
								button.btn.btn-primary.px-5.py-2(type="submit") Reset Password
// forgot-password-modal-end
|
|