//-
	- Main navbar
// Navbar
nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.px-3.py-4
	.container
		a.navbar-brand(href='index.html')
			div.navbar-brand__box
				img(src="assets/images/logo.png")
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main-menu' aria-controls='main-menu' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#main-menu.collapse.navbar-collapse
			ul.navbar-nav.mx-auto
				li.nav-item(class=activePage == 'home' ? 'active' : '')
					a.nav-link(href='index.html') Home
						span.sr-only (current)
				li.nav-item(class=activePage == 'categories' ? 'active' : '')
					a.nav-link(href='categories.html') Categories
				li.nav-item(class=activePage == 'about' ? 'active' : '')
					a.nav-link(href='about.html') About
			.ml-4
				a(href="#" data-toggle="modal" data-target="#modalGooglePlayDownload")
					i.fab.fa-google-play.mr-4
				a(href="#" data-toggle="modal" data-target="#modalAppStoreDownload")
					i.fab.fa-app-store
			.ml-auto.d-flex.align-items-center
				a.btn.btn-link.py-3(data-toggle="modal" data-target="#modalLoginForm") Login
				a.btn.btn-link.py-3(data-toggle="modal" data-target="#modalLoginForm") Sign Up
				.search.ml-3.mt-2
					i.fas.fa-search.search-btn

// navbar-end