.hero {
  background: $lightBgColor;
  height: 33.3333vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  #searchForDeals {
    input {
      height: 3rem;
      display: block;
      margin: 1rem auto 0 auto;
      border-radius: 25rem;
      padding: 0.5rem 1.5rem;
      width: 80%;
      transition: all 0.3s ease-in-out;
    }
  }
}