.hero {
  background: $lightBgColor;
  height: 33.3333vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}