extends ./layouts/page

//- Mixins
include ./mixins/_mixin-single-category

block content
	section.categories.py-5
		.container
			.row
				- let categories = ['Span & Gym', 'Restaurants', 'Clothes', 'Body care', 'Accessories', 'Antiques', 'Gold', 'Perfumes']
				- for (let i = 0; i < 8; i++)
					+category({
						img: `https://unsplash.it/200/?random=${i}`,
						title: categories[i],
					})