extends ./layouts/default

//- Blocks
block pageTitle
	title Home | BogoPal

block content
	//- Includes
	include ./mixins/_mixin-deals
	//- includes-end
	// Hero
	section.hero
		.container
			h1 Find Your Next Deal
			form.form-inline(action="#" method="get")
				input.form-control.mr-sm-2(type='search' name='dealsSearch', placeholder='Search')
				button.btn.btn-primary.my-2.my-sm-0(type='submit') Search
	// hero-end
	|
	|
	// Categories
	section.py-5.categories
		.container
			h2.section-title.mb-4 Browse Our Categories
			.row
				include ./mixins/_mixin-single-category
				for i in [1, 2, 3, 4, 5, 6, 7, 8]
					+category({
						img: 'https://api.lorem.space/image/watch',
						title: 'Restaurants',
					})

	// categories-end
	|
	|
	// Top deals
	+deals({
		title: 'Top Deals'
	})
	// top-deals-end
	|
	|
	// Trending
	+deals({
		title: 'Trending Deals'
	})
	// trending-end