extends ./layouts/default

//- Mixins
include ./mixins/_mixin-single-category

//- Blocks
block pageTitle
	title Home | BogoPal

block content
	include ./mixins/_mixin-deals
	|
	|
	// Categories
	section.py-5.categories
		.container
			h2.section-title.mb-4 Browse Our Categories
			.row
				- let categories = ['Span & Gym', 'Restaurants', 'Clothes', 'Body care', 'Accessories', 'Antiques', 'Gold', 'Perfumes']
				- for (let i = 0; i < 8; i++)
					+category({
						img: `https://unsplash.it/200/?random=${i}`,
						title: categories[i],
					})

	// categories-end
	|
	|
	// Top deals
	+deals({
		title: 'Top Deals'
	})
	// top-deals-end
	|
	|
	// Trending
	+deals({
		title: 'Trending Deals'
	})
	// trending-end