extends ./layouts/default

block content
  section#single-deal.py-5.single-deal
    .container
      // Single deal header
      h1.mb-4 Navy Pier Parking Deals
      .my-3.d-flex
        span.mr-4
          i.fas.fa-map-marker-alt.mr-2.text-primary
          | Location: Navy Pier, New York
        span
          i.fas.fa-tags.mr-3.text-primary
          | Category: &nbsp;
          a(href="categories.html")
            | Restaurants
      .row
        .col-md-9
          .swiper
            .swiper-wrapper
              for n in [1, 2, 3, 4]
                .swiper-slide
                  img(src="https://api.lorem.space/image/watch?w=800&h=400")
          |
          |
          // single deal content
          .single-deal__content.pt-5
            h3.section-subtitle About Navy Pier Parking Deals
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, illo ad. Optio provident necessitatibus nobis nostrum, laudantium deserunt, minima nihil delectus repellendus sint tenetur id?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, tenetur, quo commodi nulla cum temporibus repellendus distinctio sit officia similique sequi recusandae, necessitatibus asperiores. Adipisci?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, dicta esse ducimus tempora reiciendis fugiat repellendus officia iusto deserunt culpa, molestias libero vel repellat animi?
          // single deal ratings
          .pt-5
            h3.section-subtitle BogoPal Customer Reviews
            .ratings.d-flex.mt-4
              h4.mr-3 4.7
              .stars
                .stars-icons
                  for n in [1, 2, 3, 4, 5]
                    i.fas.fa-star
                .stars-count
                  small 22 BogoPal Ratings
            .reviews.mt-4
              for n in [1, 2, 3, 4, 5]
                .review
                  .review-header.d-flex
                    .review-header__avatar
                      img(src="https://api.lorem.space/image/watch")
                    .review-header__info
                      h5.review-header__name
                        | John Doe
                      p.review-header__date
                        | June 1, 2019
                  .review-body
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur esse consequuntur minima accusantium quo rem eos iusto, adipisci at natus?
                  .review-footer
                    .review-footer__rating
                      h4.mr-3 3.5
                      .stars
                        .stars-icons
                          for n in [1, 2, 3]
                            i.fas.fa-star
                          i.fas.fa-star-half-alt
                          i.far.fa-star
        .col-md-3
          h2.section-subtitle
            | Available Deals
          .deals
            for n in [1, 2, 3, 4, 5]
              .deal.mt-4
                img(src="https://api.lorem.space/image/watch?w=800&h=400")
                .deal__body
                h5.mt-3 Buy 3 Pizza and get 1 for FREE!
                a.mt-4.btn.btn-block.btn-primary(href="#") Redeem the Deal
  // single-deal-header-end
  |
  |
  // Recommended deals
  section.py-5
    .container
      h2.section-title.mb-4 Recommended Bogos for You
      .row
        for n in [1, 2, 3, 4]
          .col-md-3
            .card
              a(href="single-deal.html")
                img(src="https://api.lorem.space/image/watch?w=800&h=400")
              .card-body.p-0
                a.text-decoration-none.text-dark(href="#")
                  h5.card-title.mt-3 Navy Pier Parking Deals
                p.text-muted Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, ratione.
                .d-flex.justify-content-between.my-3
                  div
                    // old price
                    del.mr-2.text-muted $100
                    // new price
                    span.font-weight-bold.text-success $50
                  span.font-italic Save 50%

  // recommended-deals-end