extends ./layouts/default

block content
  // About
  section.about.py-5
    .container
      h2.section-title About BogoPal
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptas architecto est, illum eligendi blanditiis sunt quo laborum nobis, dolorum, nulla commodi animi at cupiditate.
  // about-end