extends ./layouts/page

//- block pageBannerTitle
//- 	h1.page-banner__title About BogoPal
//- block pageBannerDescription

block content
	section.page.py-5
		.container
			h2.section-subtitle BogoPal in a Nutshell
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi quia aliquid unde quidem expedita, ea quo ex quos, maxime quis doloremque sint repudiandae magni! Totam suscipit possimus rem repudiandae omnis?
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eius porro consequuntur et dicta asperiores expedita veniam? Illum sapiente ratione doloremque totam distinctio laudantium eum a tempora, repellendus ex in.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nostrum quidem magni veritatis earum exercitationem amet hic dolores ea distinctio numquam soluta velit, rem officia sequi eveniet aspernatur, illum praesentium.