extends ./layouts/default

//- Blocks
block pageTitle
	title Home | BogoPal

block content
	// Trending
	section.py-5.deals
		.container
			h2.section-title Trending
			.row
				include ./mixins/_mixin-single-deal
				+deal({
					title: 'lorem ipsum dolor sit amet',
					img: 'http://placehold.it/300x200',
				})
	// trending-end