extends ./layouts/default

//- Blocks
block pageTitle
	title Home | BogoPal

block content
	// Hero
	section.hero.py-5
		.container
			h1.hero__title Find Deals in the Crypto World
			h5.font-italic Or
			form(action="" method="GET")
				input.form-control(type='text' placeholder='Search for deals')
				button.btn.btn-primary(type='submit') Search
	// hero-end

	// Trending
	section.py-5.deals
		.container
			h2.section-title Trending
			.row
				.col-md-3
					img.img-fluid(src="https://picsum.photos/200/300?random=2")
					.deals__meta
						.deals__meta-item
							p 40% OFF
						.deals__meta-item
							p 4.0
					h3 Lorem ipsum dolor sit amet.
				.col-md-3
				.col-md-3
				.col-md-3
	// trending-end
	|
	|
	// Deal of the week
	section.py-5.deal-of-the-week
		.container
			.row
				.col-md-6
					img.img-fluid(src="https://picsum.photos/200/300?random=2")
				.col-md-6
					h2.section-title Deal of the week

	// deal-of-the-week-end