extends ./layouts/default

//- Blocks
block pageTitle
	title Home | BogoPal

block content
	// Trending
	section.py-5.deals
		.container
			h2.section-title Trending
			.row
				.col-md-3
					img.img-fluid(src="https://picsum.photos/200/300?random=2")
					.deals__meta
						.deals__meta-item
							p 40% OFF
						.deals__meta-item
							p 4.0
					h3 Lorem ipsum dolor sit amet.
				.col-md-3
				.col-md-3
				.col-md-3
	// trending-end
